$tablet-min-width: 640px;
$main-title-color: #253757;
$desktop-min-width: 1024px;
$bigger-desktop-min-width: 1600px;
$large-screen-min-width: 2560px;
$page-edge-background-color: #2C2C2C;
$main-theme-color: #2060F6;
